html *{
  
  color: #ffffff;
  font-family: "Roboto";
  padding: 0 10px 0px 10px;
}
body{
    background-color: #1C1026;
}
footer{
    background: #150D1C;
    padding: 15px 20px;
    display: block;
}
nav{
    background: #150D1C;
    display: block;
    min-height: 100%;
}

nav li{
	padding:10px;
	width:25%;
	display: inline-block;
	width: 20%;
}
.topnav{
    text-align: left
}
a{
    text-decoration :none;
}
.active a{
	text-decoration: underline;
}
footer{
    text-align: center;
}
.cards{
    display: inline-block;
}
.yellow_text{
    color: #FFC455;
    font-weight: bold;

}
.blue_text{
    font-weight:bold;
    color: #4491A5;

}
.introduction{
    height: 70vh;
    align-items: center;
}
.introduction_text{
    font-size :24px;
}
.cover-image{
    width:400px;
    height:400px;
    padding: 5px 5px 5px 5px;
    margin: 5px 5px 5px 5px;

}

.cover_image:hover{
   opacity: 0.5;
}
